.deviceList {
  margin-top: 185px;
}

.rowWrap {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.row img {
  margin-right: 10px;
}

.rowData {
  width: 100%;
  display: flex;
}

.rowData div {
  width: 50%;
}

.productCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  gap: 16px;
  justify-content: center;
}

.productCardWrap {
  text-decoration: none;
  height: 100%;
}

.noResults {
  color: #50565e;
  margin-top: 300px;
  text-align: center;
}
