.filter {
  width: 135px;
  padding: 15px;
  border-radius: 8px;
  z-index: 1;
  position: relative;
}

.filterName {
  display: inline-block;
  margin-bottom: 15px;
}

.checkBoxesContainer {
  padding: 1px;
  overflow: scroll;
  height: 125px;
}

.checkBox {
  margin-bottom: 10px;
}

.blurFilter {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
  height: 35px;
  width: 150px;
  position: absolute;
  bottom: 43px;
  pointer-events: none;
}

.filter button {
  background: none;
  border: none;
  color: #f03a3e;
  padding: 0;
  margin-top: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.dropdownHidden {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0px;
  display: none;
}

.dropdownRevealed {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  pointer-events: initial;
  position: absolute;
  top: 35px;
  background: #ffffff;
  display: block;
}
