.productsDisplayOption {
  background: transparent;
  width: fit-content;
  padding: 6px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.productsDisplayOption:hover {
  background: #f4f5f6;
}

.productsDisplayOption img {
  filter: invert(33%) sepia(23%) saturate(219%) hue-rotate(175deg)
    brightness(88%) contrast(86%);
}

.productsDisplayOption:hover img {
  filter: invert(28%) sepia(78%) saturate(4032%) hue-rotate(207deg)
    brightness(104%) contrast(101%);
}
