.searchBar {
  display: flex;
  width: 320px;
  position: relative;
}

.inputWrapper {
  width: 100%;
  height: 32px;
  background: #f6f6f8;
  border-radius: 4px;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  right: 30px;
}

.inputWrapper input {
  width: 320px;
  height: 90%;
  background: transparent;
  border: none;
  caret-color: rgba(0, 0, 0, 45%);
  padding: 0 10px 0 35px;
}

.inputWrapper input::placeholder {
  color: rgba(0, 0, 0, 45%);
}

.magnifyingGlass {
  width: 14px;
  margin: 0 5px 0 12px;
  z-index: 1;
}

.dropdown {
  max-width: 320px;
  width: 100%;
  border-radius: 8px;
  position: absolute;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.7);
  word-wrap: normal;
  overflow: scroll;
}

.withItems {
  padding-top: 7px;
}

.nextLink {
  text-decoration: none;
}

.dropdownItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.dropdownItem:hover {
  background: #f4f5f6;
}

.searchValue {
  width: fit-content;
  border-bottom: 1px solid #50565e;
  color: #50565e;
}

.noResults {
  padding: 4px 8px;
}

.noResults span {
  display: block;
}

.blurFilter {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
  height: 40px;
  width: 320px;
  position: absolute;
  top: 226px;
  pointer-events: none;
  border-radius: 0 0 8px 8px;
}

.dropdownHidden {
  transition: height 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  height: 1px;
}

.dropdownRevealed {
  transition: height 0.2s ease-in-out;
  opacity: 1;
  pointer-events: initial;
  background: #ffffff;
  height: 150px;
}
