.button {
  background: none;
  border: none;
  padding: 6px 2px;
  cursor: pointer;
}

.cta {
  color: #006fff;
}

.cta:hover {
  color: #0059cc;
}

.outline {
  color: #006fff;
  border: 1px solid #006fff;
  border-radius: 4px;
  padding: 6px;
  background: #ffffff;
}
