.button {
    background: none;
    border: none;
    padding: 6px 2px;
    cursor: pointer;
}

.cta {
    color: #006FFF;
}

.cta:hover {
    color: #0059CC;
}

.outline {
    color: #006FFF;
    border: 1px solid #006FFF;
    border-radius: 4px;
    padding: 6px;
    background: #ffffff;
}